<%= render 'users/header'%>
<div class='form'>
  <div class='form_box_sign_up'>
    <div class='form_title'>
      新規登録
    </div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <i class='fa fa-user-circle-o'></i>
    <%= f.label :ニックネーム, class: "nickname_label"%><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "nickname", class: "nickname"%>
    </div>

    <div class="field">
      <i class='fa fa-user-circle-o'></i>
      <%= f.label :first_name, class: "firstname_label"%><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "first_name", class: "first_name"%>
    </div>

    <div class="field">
      <i class='fa fa-user-circle-o'></i>
      <%= f.label :last_name, class: "lastname_label"%><br />
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "last_name", class: "last_name"%>
    </div>



  <div class="field">
    <i class= "fa fa-pencil"></i>
    <%= f.label :email,class: "email_label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"email" %>
  </div>

  <div class="field">
    <i class= "fa fa-pencil"></i>
    <%= f.label :password, class: "password_label" %><br />
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"password" %>
  </div>

  <div class="field">
    <i class="fa fa-pencil"></i>
    <%= f.label :確認パスワード, class: "password_label"%><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"password"%>
  </div>

  <div class="actions">
    <%= f.submit "完了",class:"submit" %>
  </div>
<% end %>


<%= render "devise/shared/links" %>
