=render 'users/header'
.user_new_main  
  .user_new_box
    .new-title
      あなたの花火
    .new-nickname
      = current_user.nickname
= form_with(model: @user,url: personality_index_path,method: :post, local: true) do |f|
  .field
    = fa_icon 'quora'
    = f.label :あなたの性格, class:"parent_label"
    = f.collection_check_boxes :score, @category, :id, :point , class:"fire_select", id: "fire_id", include_hidden:false
    = f.submit '送信', class: 'btn'




      